@import './partial/vars';
@import './partial/fonts';

@import './partial/bootstrap_vars_override';

@import "../../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap";

@import './partial/bootstrap_override';


html, body {
	height: 100%;
}

body {
	color: $color-text-gray;
	font: normal 14px 'montserrat', 'Arial', sans-serif;
	font-weight: 300;
}

p {
	line-height: 22px;
	margin-bottom: 1.5em;
}

input {
	font-weight: 300;
}
button {
	font-weight: 300;
}

.page-wrap {
	min-height: 100%;
}

.page-content {
	padding: 40px 0 80px;
}

.footer-placeholder {
	height: $footer-h;
}

.footer {
	height: $footer-h;
	margin-top: -$footer-h;

	.copy {
		color: #666666;
	}
}

.clients {
	padding-top: 30px;
	.client-box {
		+ .client-box {
			margin-top: 70px;
		}
	}
	.client-img {
		text-align: center;
		img {
			display: block;
			margin: auto;
			max-width: 100%;
		}
		@media (max-width: $screen-xs-max) {
			margin-bottom: 20px;
			img {
				margin: 0;
			}
		}
	}
	.client-text {}
}

.btn.extra-padding {
	padding-left: 50px;
	padding-right: 50px;
}

.feedback-form {
	@media (max-width: $screen-xs-max) {
		margin-top: 50px;
	}
}